services:
    app:
        container_name: database-app
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        depends_on:
            - mysql
            - phpmyadmin
            - postgres
            - pgadmin
        volumes:
            - ./:/var/www/html
        networks:
            - lion

    mysql:
        image: mysql
        container_name: database-mysql
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: lion_database
            MYSQL_PASSWORD: lion
            MYSQL_ROOT_PASSWORD: lion
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - lion

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: database-phpmyadmin
        links:
            - mysql:mysql
        ports:
            - 80:80
        environment:
            PMA_HOST: mysql
            MYSQL_USER: root
            MYSQL_PASSWORD: lion
            MYSQL_ROOT_PASSWORD: lion
        networks:
            - lion

    postgres:
        image: postgres
        container_name: database-postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: lion_database
            POSTGRES_USER: root
            POSTGRES_PASSWORD: password
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - lion

    pgadmin:
        image: dpage/pgadmin4
        container_name: database-pgadmin4
        ports:
            - "5050:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: root@dev.com
            PGADMIN_DEFAULT_PASSWORD: lion
        depends_on:
            - postgres
        networks:
            - lion

volumes:
    mysql_data:
    postgres_data:

networks:
    lion:
        driver: bridge
