parameters:
    level: 8

    excludePaths:
        - %currentWorkingDirectory%/src/LionDatabase/Drivers/Schema/
        - %currentWorkingDirectory%/src/LionDatabase/Traits/
        - %currentWorkingDirectory%/src/LionDatabase/Helpers/
        - %currentWorkingDirectory%/src/LionDatabase/Connection.php
        - %currentWorkingDirectory%/tests/Provider/CustomClassProvider.php
